.icon-back-to-home {
    cursor    : pointer;
    position  : absolute;
    font-size : 50px !important;
    top       : 0;
    left      : 50px;
    transition: color 0.3s ease !important;
    color     : #7C96AB;

    &:hover {
        color: #B3005E;
    }
}