.change-password-container {
    display        : flex;
    justify-content: center;
    align-items    : center;

    .change-password-form {
        width: 500px;

        .change-password-title {
            font-size    : 30px;
            font-weight  : 600;
            margin-top   : 50px;
            margin-bottom: 50px;
            text-align   : center;
        }

        .notification-confirm {
            margin-left: 10px;
            color      : red;
            font-size  : 12px;
        }

        .btn-change-password {
            width: 100px;
        }
    }
}