.detail-paint-container {
    padding: 0 15%;

    .image-paint {
        margin-top: 5%;
        height    : 200px;
        border    : 1px solid red;
    }

    .detail-paint {
        margin-top   : 2%;
        margin-bottom: 2%;
    }
}